[package]
name = "dash-sdk-bindings"
version = "1.0.0"
edition = "2021"

[dependencies]
ferment-interfaces = { path = "../../ferment/ferment-interfaces" }
ferment-macro = { path = "../../ferment/ferment-macro" }

platform-mobile = { path = "../../platform-mobile"}
# dependencies required by ferment
platform-value = { path = "../../platform/packages/rs-platform-value" }
#data-contracts = { path = "../../platform/packages/data-contracts" }
dpp = { path = "../../platform/packages/rs-dpp" }
dash-sdk = { path = "../../platform/packages/rs-sdk"}
#rs-dapi-client = { path = "../../platform/packages/rs-dapi-client", default-features = false}
#platform-version = { path = "../../platform/packages/rs-platform-version" }


drive = { path = "../../platform/packages/rs-drive", default-features = false, features = [
    "verify",
    "serde",
] }
[build-dependencies]
cbindgen = "0.26.0"
ferment = { path = "../../ferment/ferment" }
toml = "0.8.8"

[patch.crates-io]
tower-service = { git = "https://github.com/QuantumExplorer/tower", branch = "fix/indexMap2OnV0413" }
tower-layer = { git = "https://github.com/QuantumExplorer/tower", branch = "fix/indexMap2OnV0413" }
tower = { git = "https://github.com/QuantumExplorer/tower", branch = "fix/indexMap2OnV0413" }
rs-x11-hash = { path = "../../rs-x11-hash" }

[lib]
crate-type = ["staticlib"]

[features]
default = ["verify"]
verify = []
